<p>
    <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder" [(ngModel)]='data.student.email'>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder" [(ngModel)]='data.student.firstName'>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder" [(ngModel)]='data.student.firstNativeName'>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder" [(ngModel)]='data.student.lastName'>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder" [(ngModel)]='data.student.lastNativeName'>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
</p>
<p>
    <button mat-button (click)='onNoClick()'>
        Cancel
    </button>
</p>
<p>
    <button mat-button [mat-dialog-close]="data">
        <span *ngIf='data.isNewStudent'>
            Add new student
        </span>
        <span *ngIf='!data.isNewStudent'>
            Update student
        </span>
    </button>
</p>