<p>
    <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder" [(ngModel)]='data.checkPoint.id'>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder" [(ngModel)]='data.checkPoint.checkListId'>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder" [(ngModel)]='data.checkPoint.name'>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
</p>
<p>
    <button mat-button (click)='onNoClick()'>
        Cancel
    </button>
</p>
<p>
    <button mat-button [mat-dialog-close]="data">
        <span *ngIf='data.isNewCheckPoint'>
            Add new checkPoint
        </span>
        <span *ngIf='!data.isNewCheckPoint'>
            Update checkPoint
        </span>
    </button>
</p>