html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    button:focus {
        outline: none !important;
    }

    .mat-button-focus-overlay {
        background-color: transparent !important;
    }

    .mat-flat-button {
        width: 100% !important;
        border-radius: 0px !important;
    }

    table {
        width: 100%;
    }
}
